.Propos{
    background-color: #f9f9f9;
    .Propos-title{
        margin-top: 40px;
        border-bottom: 1px solid #fb6470; ;
        h1{
        font-size: 32px;
        color: #3e3e3e;
        font-family: "Raleway";
        }
    }
    .Propos-description{
        padding: 20px;
        font-size: 16px;
        color: #3e3e3e;
        font-family: "Raleway";
        
    }
    .Propos-information{
    font-size: 18px;
    color: #3e3e3e;
    font-family: "Raleway";
    padding-bottom: 50px;
     li{
         list-style: none;
         border-bottom: 1px solid black;
         margin-bottom: 5px;
     }
    }
}
.picture{
    padding: 50px;

}