.Competence-Background{
    margin-top: 100px;
    background-color: #1a1819;

}
.Competence{
    p{
        margin: 0px;
        font-size: 18px;
        color: #ffffff;
        font-family: "Raleway";
    }
    h2{
        font-size: 32px;
        color: #ffffff;
        font-family: "Raleway";
    }
    .Competence-progression{
        padding-top: 27px;
    }
    .Competence-title{
        font-size: 32px;
        color: #3e3e3e;
        font-family: "Raleway";
        text-decoration: underline #fb6470;
    }
}